ib_insync
pandas
llama-index
jinja2
streamlit
python-dotenv
pypdf
transformers
langchain_community
sentence_transformers 
einops
accelerate 
langchain 
loralib
llama-index-embeddings-huggingface
llama-index-llms-huggingface
llama-index-llms-langchain
llama-index-embeddings-langchain
bitsandbytes